body {
    font-family: 'Courier New', Courier, monospace;
}
#container {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    height: 100vh;
}
header {
    background-color: lightblue;
}
header h1 {
    text-align: center;
}
header h2 {
    text-align: center;
}
div > h2 {
    text-align: center;
    margin-top: 2rem;
}
#playerbtns {
    background-color: antiquewhite;
    text-align: center;
}    
button {
    margin: 2.5em 1.5em;
    height: 3em;
    width: 8em;
    font-weight: bold;
}
#playerChoice {
    background-color: aqua;
}
#computerChoice {
    background-color: aquamarine;
}
#result {
    background-color: lightpink;
}
#score {
    background-color: cadetblue;
    text-align: center;
    padding-top: 2rem;
}
#score h2 {
    display: inline;
    margin-left: 2rem;
    margin-right: 2rem;
}
footer {
    background-color: lightblue;
    text-align: center;
}