#container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
}
header {
    background-color: aliceblue;
}
header h1 {
    text-align: center;
}
header h2 {
    text-align: center;
}
div > h2 {
    text-align: center;
    margin-top: 6%;
}
#playerbtns {
    background-color: antiquewhite;
    text-align: center;
}    
#playerbtns button {
    margin: 2.5em 1.5em;
    height: 3em;
    width: 8em;
}
#playerChoice {
    background-color: aqua;
}
#computerChoice {
    background-color: aquamarine;
}
#gameResult {
    background-color: azure;
}
footer {
    background-color: lightblue;
}
footer > h3 {
    text-align: center;
    margin-top: 6%;
}